{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    {% block css_tags %}{% endblock %}
    {% block defer_scripts %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'dashboard:dashboard_index' %}">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
    {% block body_block %}{% endblock %}
    <footer>
        &copy; 2023 My Website. All rights reserved. (beta_blog)
    </footer>
    {% block script_tags %}{% endblock %}
</body>
</html>